<template name="footer">
    <div class="gradient-separator"></div>
    <hr/>
    <div id="social-buttons" class="text-center">
        <h5>Comparte</h5>

        <p>
            <a class="none" href="#twitter"><i class="icon-twitter icon-2x"></i></a>
            <a class="none" href="#facebook"><i class="icon-facebook icon-2x"></i></a>
            <a class="none" href="#youtube"><i class="icon-youtube  icon-2x"></i></a>
        </p>
    </div>
    </div>

    <!--- Modal para el formulario de sugerencias -->
    <div id="myModal" class="modal hide fade">
        {{>form-suggestions}}
    </div>
</template>