<template name="header">
    <div class="dropdown">
    <a id="nav" class="pull-left" data-toggle="dropdown" href="#">
        <span class="icon-stack icon-2x">
            <i class="icon-check-empty icon-stack-base"></i>
            <i class="icon-reorder icon-3x"></i>
        </span>
        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
            <li><a href="#nosotros">NOSOTROS</a></li>
            <li><a href="#sugerencias">SUGERENCIAS</a></li>
            <li><a href="#preguntas">PREGUNTAS FRECUENTES</a></li>
        </ul>
    </a>
    </div>

    <button id="btn-iniciar" class="btn-blue pull-right">Iniciar Sesion</button>
</template>
