body {
  background-image: url(#{$imagesDirectory}});
  background-size: cover;
  background-repeat: no-repeat;
}

.report body {
  background: none;
}


div.centered{
  float: none !important;
  margin: 0 auto !important;
}

div#title{
  h1 {
    margin-bottom: 4%;
    span{
      color: #0075b3;
    }
    i{
      position: relative;
      top: 8px;
      color: #0088cc;
    }
  }
}

div#input-search{
  height: 45px;
  padding: 5px;
  float: left;
  font-size: 18px;
  border: 2px solid #0088cc;
  border-top-right-radius: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 0;
}

.container-btn{
  position: relative;
  width: 112%;
  bottom: 21%;
  left: 6%;
}

div#advanced-search {
  position: absolute;
  background-color: $white;
  border: 2px solid $blue;
  padding: 1%;
  border-radius: 5px;
}

div#search {
  margin-top: 2%;
}


#nav{
  margin-top: 1%;
  @include transition(all);
  @include transition-duration(300ms);

  &:hover{
    opacity: 0.8;
    cursor: pointer;
  }

  ul.dropdown-menu{
    left:55px !important;
  }
}

.content {
  background-color: $white;
  border-radius: 6px;
  padding: 1%;
  margin-bottom: 2%;
  margin-top: 2%;
}

div.loading{
  i{
    color:$blue;
  }
  font-weight: bold;
}
div#footer {
  margin-top: 5%;
}

form.form-horizontal{
  span,input,textarea{margin-top: 3%}

}

div#social-buttons{
  a{
    @extend .none;
  }
}
