select, textarea, input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"],
input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"],
input[type="tel"], input[type="color"], .uneditable-input {
  margin-bottom: 0;

}
.input-blue{
  border: 2px solid $blue;
}

#input{
  @extend .input-blue;
  width: 70%;
}

.btn-blue {
  background: radial-gradient($blue, darken($blue, 2%));
  border: 2px solid $blue !important;
  border-radius: 4px;
  color: $white;
  font-weight: bold;
  @include transition(all);
  @include transition-duration(300ms);

  &:hover {
    color: $white;
    text-decoration: none;
    box-shadow: 0 0 8px $blue;
  }
}

#btn-iniciar {
  @extend .btn-blue;
  padding: 1%;
  margin-top: 1%;
}

#btnModalClose {
  @extend .btn-blue;
  padding: 1%;
}

#btn-search {
  height: inherit !important;
  /*  @extend .btn-blue;
    float: right;
    width: 15%;
    margin: 0;
    height: 45px;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    font-size: 20px;

    [class^="icon-"], [class*=" icon-"] {
      margin-top: 3px;
    }*/
}

[class^="icon-"], [class*=" icon-"] {
  margin-right: 3px;
}

a#btn-advanced-search {
  position: relative;
  @include transition(all);
  @include transition-duration(200ms);
  &:hover {
    text-decoration: none;
  }
}