<template name="home">
    <div id="content" class="row-fluid">
            <div id="search" class="offset1 span10 content ">
                <div id="title">
                    <h1 class="text-center"><i class="icon-cloud-download icon-2x"></i>OpenData</h1>
                </div>
                <div id="input-search" class="span5 offset3 text-center">
                    <input type="text" placeholder="ej: Republica Dominicana">
                    <a id="btn-advanced-search" href="#advanced-search"><i class="icon-chevron-down"></i></a>
                </div>

                <button id="btn-search" class="span1" type="submit"><i class="icon-search icon-white"></i></button>

                <!-- Advance Search -->
                <!--<div id="advanced-search" class="span5 offset3">
                    <div class="control-group">
                        <label class="control-label" for="txtLugar">Lugar:</label>

                        <div class="controls">
                            <input type="text" id="txtLugar" class="input-block-level" placeholder="Santo Domingo">
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="txtCategoria">Categoria:</label>

                        <div class="controls">
                            <select id="selectCategorias">
                                <option><i class="icon-book icon-white"></i>Educacion</option>
                                <option><i class="icon-home icon-white"></i>Vivienda</option>
                                <option><i class="icon-globe icon-white"></i>Demografico</option>
                                <option><i class="icon-tasks icon-white"></i>Estadisticas</option>
                                <option><i class="icon-arrow-down icon-white"></i>Pobreza</option>
                                <option><i class=" icon-user icon-white"></i>Seguridad Social</option>
                                <option><i class="icon-heart icon-white"></i>Salud</option>

                            </select>
                        </div>
                    </div>


                </div>-->
            </div>

        </div>
    </div>

</template>