<template name="search">
	<div id="search" class="span10 content centered">
	    <div id="title">
	        <h1 class="text-center"><i class="icon-cloud-download icon-2x"></i>OpenData</h1>
	    </div>
        <div class="input-append centered span5">
            <input id="input" type="text" placeholder="ej: Republica Dominicana">
            <a id="btn-advanced-search" class="btn-blue add-on" href="#advanced-search"><i class="icon-chevron-down"></i></a>
            <button id="btn-search" class="btn-blue add-on" type="submit"><i class="icon-search icon-white"></i> Buscar</button>
        </div>

        <div id="advanced-search" class="span5 centered  hidden input-blue">
            <a id="close" class="pull-right" href="#close"><i class="icon-remove-sign"></i></a>
            <div class="input control-group">
                <select>
                    <option>jacobo</option>
                </select>
            </div>
            <button class="btn-blue">Buscar</button>
        </div>

	<div class="centered span4">
        {{#if isSearching}}
        <div class="loading"><i class="icon-spinner icon-spin icon-large"></i> Cargando...</div>
        {{/if}}
        {{#if isDataLoaded}}
        <ul class="list-stripped query-results">
            {{#each queryResults}}
                {{>resultItem}}
            {{/each}}
            {{#if isDataLoadedCollections}}
				{{#each queryResultsCollections}}
					 {{>resultItem}}
				{{/each}}
			{{/if}}
        </ul>
        {{/if}}
    </div>
</template>